
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', monospace;
  color: #e0c25f;
}

body 
{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body.work {
  background-image: url("../assets/PsychoWork.png");
  background-color: #e05f09;
}

body.shortBreak {
  background-image: url("../assets/PsychoBreak.png");
  background-color: rgb(26, 199, 98);
}

body.longBreak {
  background-image: url("../assets/PsychoSleep.png");
  background-color: rgb(80, 167, 244);
}

body.done {
  background-image: url("../assets/PsychoHomePage.png");
  background-color: #e0c25f;
}

.file-title {
text-align: center;
font-weight: bold;
font-size: 2rem;
color: #593c1f;
margin-bottom: 1.5rem;
}


/* Boutons */
button {
border: 2px solid #3b2d1f;
padding: 0.6rem 1.2rem;
margin-right: 0.5rem;
font-size: 1rem;
cursor: pointer;
font-family: monospace;
box-shadow: 2px 2px 0 #a05e26;
transition: transform 0.1s ease;
}

button:hover {
transform: translateY(-3px);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
} 

.startTimer {
  display: flex;
  justify-content: center;
  background-color: #48da1f;
  border-radius: 10px;
}

.stopTimer {
  display: flex;
  justify-content: center;
  background-color: #ce2c0c;
  border-radius: 10px;
}

.resetTimer {
  display: flex;
  justify-content: center;
  grid-column: span 2;
  background-color: #6a6463;
  border-radius: 10px;
}

.displayTimer{
  background-color: white;
  color: #8b6239;
  text-align: center;
  
  width: 200px;
  padding: 1.5rem;
  
  border-radius: 12px;
  
  margin-top: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  
  font-size: 2rem;
  font-family: 'Press Start 2P', monospace;
}

.displayTimerStop{
  background-color: rgb(83, 20, 20);
  color: #8b6239;
  text-align: center;
  
  width: 200px;
  padding: 1.5rem;
  
  border-radius: 12px;
  
  margin-top: auto;
  margin-bottom: 20px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  
  font-size: 2rem;
  font-family: 'Press Start 2P', monospace;
}
